{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Editar Cuenta</h1>
    <form action="/actualizar/{{cuenta.id}}" method="post">
      <div class="form-group">
        <label for="numeroCuenta">Número de Cuenta (Celular):</label>
        <input type="number" class="form-control" name="numero_cuenta" placeholder="Ingrese el número de celular" value="{{cuenta.numero_cuenta}}" >
      </div>
      <div class="form-group">
        <label for="tipoCuenta">Tipo de Cuenta:</label>
        <select class="form-control" name="tipo_cuenta" >
            <option value="" disabled selected ></option>
            <option value="Ahorros">Cuenta de Ahorros</option>
            <option value="Corriente">Cuenta Corriente</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" value="{{cuenta.nombre}}">
      </div>
      <div class="form-group">
        <label for="saldo">Recargar Cuenta:</label>
        <select class="form-control" name="saldo" >
            <option value="" disabled selected ></option>
            <option value="1000">1000</option>
            <option value="10000">10.000</option>
            <option value="100000">10.0000</option>
            <option value="1000000">1.000.000</option>
        </select>
      </div>
      <div class="row ">
        <div class="col-12 mt-3">
          <input type="submit" value="Confirmar" class="btn btn-primary">
          <a href="/" class="btn btn-success ">Volver</a>
        </div>
      </div>
    </form>
  </div>

{% endblock content %}